* {
  font-family: Arial, sans-serif;
}

body {
  font-size: 100%;
  max-width: 1100px;
  margin: auto; /*Use margin: auto;, to horizontally center an element within its container.*/
}

.top-bar-mobile {
  /* Top bar of mobile view, containing a button and a title.*/
  width: 100%;
  /* Height is determined by children.*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;/*Stay above the container *and* navbar. May be superfluous?*/
  background-color: #FFFFFF;
  display: flex;
  /* row-reverse: button floats right, title takes up remaining space. */
  flex-direction: row-reverse;
}

/* color if navbar is open */
.top-bar-mobile[open=""] {
  background-color: #E0E0E0;
}

.top-bar-mobile button {
  height: 20px;
  float: right;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 20px 20px;
}

.top-bar-mobile button img {
  height: 20px;
}

.top-bar-mobile .title-mobile {
  /* Button floats right, let the title take up the remaining space and center it. */
  flex-grow: 1;
  text-align: center;
}

.title-mobile a{
  color:black;
  text-decoration: none;
  font-size: 2em;
  line-height: 60px;  /* To center the text vertically, line-height needs to be equal to height. Height, on the other hand, needs to be equal to the height+margin of the button. */
}

.top-bar-desktop {
  display: none;
}

.top-bar-desktop .flexcontainer {
  /*background-color: blue;*/
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100px;
  display: flex;
}

.top-bar-desktop canvas {
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}

.top-bar-desktop .title-desktop {
  font-size: 2.5em; /* 48px/16=3 */
  font-weight: 100;
  vertical-align: middle;
  text-align: center;
  flex-grow: 1;
}

.title-desktop a{
  color:black;
  text-decoration: none;
  line-height: 140px;  /* To center the text vertically, line-height needs to be equal to height. Height, on the other hand, needs to be equal to the height+padding of the canvas. */
}

/* "display: block" is default in chrome, don't know what this is good for.*/
.maincontainer {
  display: block;
  padding-top: 60px; /*must be equal to top-bar-mobile height plus padding! Actual content must start below top-bar-mobile. */
}

.linkcontainer {
  /*position: absolute;*//*positioned absolute, relative to the nearest positioned ancestor, which is, I guess, the document body?*//*Tried "width: 250px" instead of min/max, but then it gets squeezed if @media min-width is exceeded only slightly*/
  position: fixed;
  top: 60px;/*must be equal to top-bar-mobile height PLUS padding!*/
  left: 0;
  /*min-width: 250px;*/
  /*max-width: 250px;*/
  width: 100%;
  max-height: 75vh;
  display: none;
  /*height: 100%;*/
  /*backface-visibility: hidden;*/
  /*transition: transform 0.4s ease-out;*/
  z-index: 1;
  background-color: #E0E0E0;
  /*transition: transform 0.4s ease-out;*/
  /*transform: translate(-250px,0);*/
  overflow-y: auto;/*For long link lists. If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
}

.linkcontainer[open=""] {
  /*transform: translate(0px,0);*/
  display: block;
}

.linkcontainer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.linkcontainer ul li a {
  display: block; /*always a column...don't know if necessary?*/
  height: 60px;
  padding: 0 20px; /*shorthand for: top and bottom: 0; left and right: 20px*/
  line-height: 60px;
  text-decoration: none;
  color: black;
  /*-webkit-transition: background-color 0.2s ease-out;*/
  /*transition: background-color 0.2s ease-out;*/
}

h2, h3 {
  font-weight: 100;
} 

.toy {
  margin:20px;
  padding:20px;
  border: thin solid;
}

.mainwindow {
  font-size: 1.2em;
  /*padding: 0 50px;*/
  margin: 0 12px;
  /*set overflow to scroll, so the top-bar-mobile button doesn't disappear on the right-hand side if mainwindow is overflowing*/
  /*overflow-x: scroll;*/
}

.mainwindow a {
  /*font-size: 60px;*/
  color: black;
}


  @media (min-width: 950px) {
    /* If the screen is wider then 500px, use Flexbox */
    .top-bar-mobile {
      display: none
    }
    .maincontainer {
      display: flex;
      flex-flow: row nowrap;
      padding-top: 0; /* top-bar-mobile was removed */
    }
    .linkcontainer {
      position: relative;
      top: 0;
      /* transition: none 0s ease-out; */
      /*transform: translate(0,0);*/
      display: block;
      min-width: 250px;
      max-width: 250px;
      max-height: none;
    }

    .mainwindow {
      /*width: 60%;*/
      font-size: 1em;
      margin: 0  50px;
    }

    .mainwindow :first-child {
      margin-top: 0; /* vertically align first line with upper edge of linkcontainer box */
    }

    .top-bar-desktop {
      /* canvas floats right, title takes up remaining space. */
      display: flex;
    }

  }
