* {
  font-family: Arial, sans-serif;
}

body {
  font-size: 100%;
  max-width: 1300px;
  /*Use margin: auto;, to horizontally center an element within its container.*/
  margin: auto;
}

.top-bar-mobile {
  /* Top bar of mobile view, containing a button and a title.*/
  width: 100%;
  /* Height is determined by children.*/
  position: fixed;
  top: 0;
  left: 0;
  /*Stay above the container *and* navbar. May be superfluous?*/
  z-index: 2;
  background-color: #FFFFFF;
  display: flex;
  /* row-reverse: button floats right, title takes up remaining space. */
  flex-direction: row-reverse;
}

/* color if navbar is open */
.top-bar-mobile[open=""] {
  background-color: #E0E0E0;
}

.top-bar-mobile button {
  height: 60px;
  line-height: 60px;
  outline: none;
  float: right;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0px 20px 0px 0px;
}

.top-bar-mobile button img {
  height: 20px;
  padding: 20px 0px;
}

.top-bar-mobile .title-mobile {
  /* Button floats right, let the title take up the remaining space and center it. */
  flex-grow: 1;
  text-align: center;
}

.title-mobile a {
  color:black;
  text-decoration: none;
  font-size: 1.7em;
  /* To center the text vertically, line-height needs to be equal to height. Height, on the other hand, needs to be equal to the height+margin of the button. */
  line-height: 60px;
}

.top-bar-desktop {
  display: none;
}

.top-bar-desktop .flexcontainer {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100px;
  display: flex;
}

.top-bar-desktop canvas {
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}

.top-bar-desktop .title-desktop {
  font-size: 2.5em;
  font-weight: 100;
  vertical-align: middle;
  text-align: center;
  flex-grow: 1;
}

.title-desktop a{
  color:black;
  text-decoration: none;
  /* To center the text vertically, line-height needs to be equal to height. Height, on the other hand, needs to be equal to the height+padding of the canvas. */
  line-height: 140px;
}

.maincontainer {
  /* "display: block" is default in chrome, don't know what this is good for.*/
  display: block;
  /*must be equal to top-bar-mobile height plus padding! Actual content must start below top-bar-mobile. */
  padding-top: 60px;
}

.linkcontainer {
  position: fixed;
  /*must be equal to top-bar-mobile height PLUS padding!*/
  top: 60px;
  left: 0;
  width: 100%;
  max-height: 75vh;
  display: none;
  z-index: 1;
  background-color: #E0E0E0;
  /*For long link lists. If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
  overflow-y: auto;
}

.linkcontainer[open=""] {
  /*transform: translate(0px,0);*/
  display: block;
}

.linkcontainer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.linkcontainer ul li a {
  /*always a column...don't know if necessary?*/
  display: block;
  height: 60px;
  /*shorthand for: top and bottom: 0; left and right: 20px*/
  padding: 0 20px;
  line-height: 60px;
  text-decoration: none;
  color: black;
}

.leftbar {
  min-width: 100px;
  max-width: 100px;
}

.mainwindow {
  font-size: 1.2em;
  margin: 0 12px;
  overflow-x: auto;
}

.mainwindow a {
  color: black;
}

.mainwindow :first-child {
      /* vertically align first line with upper edge of linkcontainer box */
      margin-top: 0;
}


@media (min-width: 950px) {
  /* If the screen is wider then 500px, use Flexbox */
  .top-bar-mobile {
    display: none
  }
  .maincontainer {
    display: flex;
    flex-flow: row nowrap;
    /* top-bar-mobile was removed */
    padding-top: 0; 
  }
  .linkcontainer {
    position: relative;
    top: 0;
    display: block;
    min-width: 250px;
    max-width: 250px;
    max-height: none;
  }

  .mainwindow {
    font-size: 1em;
    margin: 0  50px;
  }

  .top-bar-desktop {
    /* canvas floats left, title takes up remaining space. */
    display: flex;
  }

}



.teaser {
}

.teaser ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.teaser li {
  float: left
}

.teaser .teaseritem {
    background-color: #E0E0E0;
    /*display: flex;*/
    min-height: 110px;
    padding: 10px 10px;
    margin: 3px;
}


.teaser .imagecontainer {
    float: left;
    min-height: 110px;
    max-height: 110px;
    min-width: 150px;
    max-width: 150px;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    padding: 0 20px 5px 0;
}

.teaser a {
  text-decoration: none;
}

.teaser .lines {
  display: none
}

.teaser .linesmobile {
  width: 100%;
  max-height: 100px;
  display: inline-block;
}

.teaser ul li .image {
  background: white;
  float: left;
  max-width: 100%;
  object-fit: contain;
  padding: 3px
}


.teaser .header {
    vertical-align: middle;
    margin: 0px;
}

@media (min-width: 950px) {
  .teaser .teaseritem {
    min-width: 350px;
    max-width: 350px;
  }
}

/*
@media (min-width: 950px) {
    .teaser .header {
        min-height: 90px;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        padding: 0 50px;
        margin: 0px;
    }

    .teaser .teaseritem {
        padding: 3px 20px;
    }

    .teaser .imagecontainer {
        padding: 0 20px 0px 0;
    }

    .teaser .lines {
      width: 100%;
      display: inline-block
    }

    .teaser .linesmobile {
      display: none
    }
}


 */

